<!--main-container-part-->
<div id="content">
	<div id="content-header">
		<div id="breadcrumb">
			<a href="#" title="Go to Home" class="tip-bottom"><i
				class="icon-home"></i> 后台管理</a> <a href="#">管理圈子</a> <a href="#"
				class="current">管理圈子</a>
		</div>
		<h1>管理圈子</h1>
	</div>


	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-ok-sign"></i>
						</span>
						<h5>管理圈子</h5>
					</div>
					<div class="widget-content">

						<div  th:if="${param.success}">
							<div>
								<div class="alert alert-info">删除完成!</div>
							</div>
						</div>
						 
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>序号</th>
									<th>圈子</th>
									<th>日期</th>
									<th>删除</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="circle: ${circles}">
									<td th:text="${circleStat.index+1}"></td>
									<td th:text="${circle.name}"></td>
									<td
										th:text="${#dates.format(circle.createdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
									<td>
									<!-- 
									<a th:href="@{'/admin/circle/delete/'+${circle.id}}">删除</a>
									-->
									 <!-- 删除确认框 开始 -->
									 <a th:href="@{'#myAlert'+${circle.id}}"
										data-toggle="modal" class="btn btn-danger">删除</a>
										<div th:id="myAlert+${circle.id}" class="modal hide">
											<div class="modal-header">
												<button data-dismiss="modal" class="close" type="button">×</button>
												<h3>提示</h3>
											</div>
											<div class="modal-body">
												<p>确定删除吗？</p>
											</div>
											<div class="modal-footer">
												<a class="btn btn-primary"
													th:href="@{'/admin/circle/delete/'+${circle.id}}">确定</a>
												<a data-dismiss="modal" class="btn" href="#">放弃</a>
											</div>
										</div>
									 <!-- 删除确认框  结束 -->
									</td>
								</tr>

							</tbody>
						</table>


						<!--		  
                          <div class="pagination">
                            <ul>
                              <li><a href="#">Prev</a></li>
                              <li class="active"> <a href="#">1</a> </li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">Next</a></li>
                            </ul>
                          </div>
                        -->
					</div>
				</div>


			</div>

		</div>
	</div>
</div>

<!--end-main-container-part-->
