<!DOCTYPE html>
<html lang="zh-CN" class="no-js" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <title>后台管理系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <!-- link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' -->

        <link type="text/css" th:href="@{/assets/admin/css/reset.css}" rel="stylesheet">   
		<link type="text/css" th:href="@{/assets/admin/css/supersized.css}" rel="stylesheet">   
		<link type="text/css" th:href="@{/assets/admin/css/style.css}" rel="stylesheet">  

    </head>

    <body>

        <div class="page-container">
            <h1>管理员登录</h1>
            <form method="post" th:action="@{/admin/login}">
                <input type="text" name="username" class="username" placeholder="用户名" required>
				
                <input type="password" name="password" class="password" placeholder="密码" required>
				
				<div th:if="${param.error}">
					<br/><div class="alert alert-danger"><span>用户名或密码出错！</span></div>
				</div>
				<div th:if="${param.logout}">
					<br/><div class="alert alert-success">您已经退出登录.</div>
				</div>
                
                <button type="submit">登录</button>
                	 
				
            </form>
          
        </div>
		<br/>
        <div align="center">Copyright All .2023-2033 版权所有</div>

        <!-- Javascript -->
 
		 
		<script type="text/javascript" th:src="@{/assets/admin/js/jquery-1.8.2.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/admin/js/supersized.3.2.7.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/admin/js/supersized-init.js}"></script>
		<script type="text/javascript" th:src="@{/assets/admin/js/scripts.js}"></script>


</body>

</html>

